html{
  background-color: #233;
  background-image: -moz-linear-gradient(top, #233, #FFF);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#233), to(#FFF));
  //-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#223333, EndColorStr=#FFFFFF)";
  //background-image: linear-gradient(top, #233, #FFF);
}

code {
  font-family: monospace;
  font-size: 14px;
}

body {
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #233;
  border-top: none;
  background: #FFF;
}

.header {
  background-color: #966;
}

.intro {
  background-color: #633;
  float: left;
  width: auto;
}

.navigation {
  float: right;
  margin: 10;
  list-style: none;
}

.navigation li {
  float: left;
}


.navigation a {
  display: block;
  margin-left: 0.5em;
  padding: 0.5em;
  border: 1px solid #CCC;
  color: #233;
  text-decoration: none;
}

.article {
  padding: 50px;
}

.scala {
  background-image: url(IMG_Hamburg.jpg);

  background-position: top right;
}
