html{
  background-color: #233;
}

code {
  font-family: monospace;
  font-size: 14px;
}

body {
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #033;
  border-top: none;
  background: #FFF;
}

.header {
  background-color: #966;
}

.intro {
  background-color: #633;
  float: left;
  width: auto;
}

.navigation {
  float: right;
  margin: 10;
  list-style: none;
}

.navigation li {
  float: left;
}


.navigation a {
  display: block;
  margin-left: 0.5em;
  padding: 0.5em;
  border: 1px solid #CCC;
  color: #233;
  text-decoration: none;
}

.article {
  border: thin solid #fff;
  padding: 50px;

}

.scala {
  background: #CCC;
  background-image: url(house.jpg);
  background-position: 10px 10px;
  background-repeat: no-repeat;

  letter-spacing: normal;
}
