html {
  background-color: #033;
}

code {
  font-family: monospace;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  width: 800px;
  margin: 1em auto;
}

.header {
  position: fixed;
  padding: 1em;
  z-index: 3;
  border: none;
  background-color: #966;
}

.header h1 {
  font-size: 4em;
  float: left;
  margin-top: 0.2em;
}

.navigation {
  float: right;
  font-size: 1.8em;
}

.navigation a {
  margin-left: 0;
  padding: 0.2em;
  border: 1px solid #CCC;
  color: #fff;
  text-decoration: none;
  background-color: black;
}

.navigation li {
  list-style: none;
  display: inline;
}


.intro {
  float: left;
  max-width: 800px;
  font-size: 1.8em;
  background-color: #633;
  clear: both;
}

.article {
  padding: 50px;
  font-size: 1.6em;
  height: 200px;
  overflow: auto;
  border-top: 10px solid #004949;
}

#content {
  position: absolute;
  top: 300px;
  z-index: 1;
  max-width: 800px;
}
